/* General CSS */
/* Some rules from: https://fabiomsr.github.io/from-java-to-kotlin/, thanks */


.mitalic {
    font-size:14px;
    font-style:italic;
    margin-bottom: 0px;
}

p.lang {
    color: #292626;
    font-size:18px;
    text-align: left;
    margin-bottom: 0px;    
}

.alignleft {
    text-align: left;
}

div.mdgeneral h2 {
    text-align: center;
}
div.mdgeneral p {
    text-align: left;
}
div.mdgeneral {
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 7px;
    margin: 3px;
    
}


/* CSS for two langs side by side */
h2, h3{
    text-align: center;
}

p.mitalic {
    text-align: center;
}


.pairlang div.showone {
    flex: 1;
    -ms-flex: 1;
    min-width: 550px;
    margin: 0 10px;
    
}

.pairlang {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-box-pack: center;
    -ms-box-align: center;    
}

.onelangname{
    text-align:center;
}


